body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;   /* Height of the footer */
}
#app {
  min-height:100%;
  position:relative;
  height: 600px;
	font-family: 'Roboto', sans-serif;
  background: #031927; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #031927 , #508AA8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #031927, #508AA8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #031927, #508AA8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #031927 , #508AA8); /* Standard syntax */
	margin: 30px 30px 30px 30px;
	padding: 0px 30px 30px 30px;
	border: 2px solid;
    border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
  -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
}
.recipe {
  background: rgb(240, 232, 191); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* Standard syntax */
	border: 2px solid;
    border-radius: 3px;
	padding: 5px;
  margin: 5px;
  
}
.recipeEdit {
	font-weight: bold;
  background: rgb(240, 232, 191); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgb(240, 232, 191) , rgb(177, 162, 122)); /* Standard syntax */
	border: 2px dashed;
    border-radius: 3px;
	padding: 5px;
  margin: 5px;
  animation: fadein 1s;
}
h1 {
  color: #ffffff;
	font-size:50px;
	font-family: 'Lobster', cursive;
}
button{
	font-size: 16px;
  background: #508AA8; /* For browsers that do not support gradients */
	border: 2px solid black;
    border-radius: 4px;
    margin: 5px;
}
button+button {
  background: rgb(187, 106, 97); /* For browsers that do not support gradients */
}
button:hover{
  animation: select 0.6s infinite;
}
#editName {
	height: 18px;
	width: 120px;
	border: 2px solid;
    border-radius: 3px;
}
#editIngredients {
	height: 50px;
	width: 150px;
	border: 2px solid;
    border-radius: 3px;
}
footer {
  color: white;
	font-size:20px;
	font-family: 'Lobster', cursive;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

@keyframes fadein {
  0% { opacity: 0; }
  22% { opacity: 0;}
100% { opacity: 1; }
}

@keyframes select {
 0% {opacity: 1}
 50% {opacity: 0.8 }
 100% {opacity: 1}
}